<template>
    <div class="item" @click="handleClickEvent($event)" :class="{'selected': isSelected}"
         @contextmenu.prevent="$refs.fileMenu.open">
        <div class="fm-grid-item text-center">
            <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"
                       v-if="!Number.isInteger(fileEntity.id)"></b-loading>
            <div class="fm-item-icon">
                <i class="far fa-3x pb-2" :class="className"
                   v-if="!Number.isInteger(fileEntity.id) || !imageExtensions.includes(fileEntity.extension)"></i>
                <img :src="fileEntity.path" @dblclick="$emit('image-show', fileEntity.path)" :alt="fileEntity.name"
                     class="image-preview" v-else>
            </div>
            <div class="fm-item-info">
                {{fileEntity.name}}
            </div>
            <div class="progress" v-if="!Number.isInteger(fileEntity.id)">
                <div role="progressbar" :aria-valuenow="uploadPercents" aria-valuemin="0" aria-valuemax="100"
                     class="progress-bar progress-bar-striped bg-info" :style="{'width': uploadPercents + '%'}">
                    {{uploadPercents}}%
                </div>
            </div>
            <span class="text-danger" v-if="isUploadingError"><small>Не удалось загрузить файл</small></span>
        </div>
        <context-menu id="context-menu" class="fm-context-menu" ref="fileMenu">
            <ul class="list-unstyled">
                <li @click="$emit('rename-file', file)">
                    Переименовать
                </li>
                <li @click="$emit('move-file', file)">
                    Переместить
                </li>
                <li @click="$emit('delete-file', file)">
                    Удалить
                </li>
            </ul>
        </context-menu>
    </div>
</template>

<script>
    import contextMenu from 'vue-context-menu';
    import {ErrorsHandler} from "../../../../services/error/ErrorsHandler";

    export default {
        name: "FileItemComponent",
        props: ['file', 'isSelected'],
        data() {
            return {
                className: '',
                isLoading: true,
                uploadPercents: 0,
                fileEntity: this.file,
                isUploadingError: false,
                imageExtensions: ['jpg', 'png', 'jpeg']
            }
        },
        components: {
            contextMenu
        },
        mounted() {
            this.getIconByFileType();
            if (!Number.isInteger(this.file.id)) {
                this.uploadFile(this.file.formData);
            }
        },
        methods: {
            /**
             * Handle click event
             */
            handleClickEvent(event) {
                if (event.altKey) {
                    this.$emit('process-selection')
                }
            },
            /**
             * Upload file
             */
            uploadFile(data) {
                this.axios.post('/api/v1/file-manager/files', data, {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: function (progressEvent) {
                        this.uploadPercents = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
                    }.bind(this)
                }).then((response) => {
                    let uploadedFile = response.data.data;
                    uploadedFile.oldId = this.fileEntity.id;
                    this.$emit('file-uploaded', uploadedFile);
                    this.fileEntity = response.data.data;
                }).catch((error) => {
                    this.isUploadingError = true;
                    this.isLoading = false;
                    this.$emit('upload-error', this.fileEntity);
                    (new ErrorsHandler()).handleErrors(error.response.data, this.errors);
                });
            },
            /**
             * Get icon by extension
             */
            getIconByFileType() {
                switch (this.fileEntity.extension) {
                    case 'doc':
                    case 'docx':
                        this.className = 'fa-file-word';
                        break;
                    case 'jpg':
                    case 'png':
                    case 'gif':
                    case 'jpeg':
                        this.className = 'fa-file-image';
                        break;
                    case 'pdf':
                        this.className = 'fa-file-pdf';
                        break;
                    case 'zip':
                        this.className = 'fa-file-archive';
                        break;
                    case 'csv':
                        this.className = 'fa-file-csv';
                        break;
                    default :
                        this.className = 'fa-file';
                        break;
                }
            }
        }
    }
</script>

<style scoped>
    .image-preview {
        padding-bottom: 0.5rem !important;
        max-width: 5em;
        height: 75px;
        object-fit: contain;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }

    .item {
        display: inline-flex;
    }

    .selected > .fm-grid-item {
        background-color: #dedede;
    }

    .fm-context-menu .list-unstyled {
        border-bottom: none;
    }
</style>
