<template>
    <div class="fm-content-body" v-shortkey="['ctrl', 'a']" @shortkey="selectAll" @dragover="handleDragOver"
         @dragleave="handleDragLeave">
        <div class="fm-content-body">
            <div class="drag-zone" v-if="isDragging">
                <b-upload width="100%" height="100%" @input="uploadFiles" multiple type="is-dark" drag-drop>
                    <section class="section">
                        <div class="content has-text-centered">
                            <p>
                                <i class="fa fa-upload fa-3x"></i>
                            </p>
                            <p>Перетащите файлы для загрузки</p>
                        </div>
                    </section>
                </b-upload>
            </div>
            <div class="fm-grid">
                <div class="d-flex align-content-start flex-wrap">
                    <b-loading :is-full-page="false" :active.sync="isFilesLoading"
                               :can-cancel="false"></b-loading>
                    <div class="files-block" v-if="files.length > 0">
                        <file-item v-for="file in files"
                                   v-on:process-selection="handleFileSelectedEvent(file)"
                                   :is-selected="selectedFiles.includes(file.id)"
                                   v-on:image-show="handleImageShowEvent"
                                   v-on:file-uploaded="handleUploadedFileEvent"
                                   v-on:move-file="moveFile"
                                   v-on:delete-file="deleteFile"
                                   v-on:rename-file="openRenameModal"
                                   :key="file.id"
                                   v-on:upload-error="processUploadError"
                                   :file.sync="file">
                        </file-item>
                    </div>
                    <div class="no-files-block"
                         v-else-if="files.length <= 0 && activeFolderId !== null">
                        <h4 class="text-center">
                            Файлов не найдено
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <files-footer
                v-on:move-selected-files="handleFilesMovement"
                v-on:delete-selected-files="handleDeleteFiles"
                :selected-files.sync="selectedFiles"
                :files-count="files.length">
        </files-footer>
        <b-modal :active.sync="isPreviewOpened">
            <p class="image is-4by3">
                <img class="image-preview" alt="" :src="imageToPreview">
            </p>
        </b-modal>
        <rename-file ref="renameFileModal"></rename-file>
        <move-file
                ref="moveFileModal"
                :folders="folders"
                :active-folder-id="activeFolderId"
                v-on:files-moved="handleMovedFileEvent">
        </move-file>
    </div>
</template>

<script>
    import MoveFile from './modals/MoveFileComponent';
    import RenameFile from './modals/RenameFileComponent';
    import FileItem from './FileItemComponent';
    import {FileService} from "../../../services/FileService";
    import {ErrorsHandler} from "../../../../services/error/ErrorsHandler";
    import Footer from './FooterComponent';

    export default {
        name: "FilesComponent",
        props: {
            files: {},
            isFilesLoading: false,
            activeFolderId: null,
            folders: {}
        },
        components: {
            'file-item': FileItem,
            'rename-file': RenameFile,
            'move-file': MoveFile,
            'files-footer': Footer
        },
        data() {
            return {
                dropFiles: [],
                isDragging: false,
                fileService: null,
                errorsHandler: null,
                isPreviewOpened: false,
                imageToPreview: '',
                selectedFiles: [],
                timeoutHandler: null
            }
        },
        mounted() {
            this.fileService = new FileService();
            this.errorsHandler = new ErrorsHandler();
        },
        methods: {
            /**
             * Select all files
             */
            selectAll() {
                for (let i = 0; i < this.files.length; i++) {
                    if (!this.selectedFiles.includes(this.files[i].id)) {
                        this.selectedFiles.push(this.files[i].id);
                    }
                }
            },
            /**
             * Handle drag over event
             */
            handleDragOver() {
                this.isDragging = true;
                if (this.timeoutHandler !== null) {
                    clearTimeout(this.timeoutHandler);
                }
            },
            /**
             * Handle drag leave
             */
            handleDragLeave() {
                this.timeoutHandler = setTimeout(() => {
                    this.isDragging = false;
                }, this.duration)
            },
            /**
             * Handle selected files movement
             */
            handleFilesMovement() {
                this.$refs.moveFileModal.openModal(this.selectedFiles);
            },
            /**
             * Deleted selected files
             */
            handleDeleteFiles() {
                this.$dialog.confirm({
                    cancelText: 'Нет',
                    confirmText: 'Да',
                    message: 'Вы действительно хотите удалить выбранные файлы?',
                    onConfirm: () => {
                        this.isLoading = true;
                        this.fileService.deleteFiles({id: this.selectedFiles}).then(() => {
                            let files = this.files.filter(function (file) {
                                return !this.selectedFiles.includes(file.id);
                            }.bind(this));
                            this.$emit('update-files', files);
                            this.selectedFiles = [];
                            this.isLoading = false;
                            this.$root.showToast('is-success', 'Файлы удалены');
                        }).catch((error) => {
                            this.errorsHandler.handleErrors(error.response.data);
                        });
                    }
                });
            },
            /**
             * Handle file selected event
             */
            handleFileSelectedEvent(file) {
                if (this.selectedFiles.includes(file.id)) {
                    this.selectedFiles.splice(this.selectedFiles.indexOf(file.id), 1);
                    return;
                }
                this.selectedFiles.push(file.id);
            },
            /**
             * Handle image show event
             */
            handleImageShowEvent(src) {
                this.imageToPreview = src;
                this.isPreviewOpened = true;
            },
            /**
             * Handle file uploaded event
             */
            handleUploadedFileEvent(file) {
                for (let i = 0; i < this.files.length; i++) {
                    if (this.files[i].id === file.oldId) {
                        this.files[i].id = file.id;
                        this.files[i].folder_id = file.folder_id;
                        this.files[i].path = file.path;
                        this.files[i].name = file.name;
                        this.files[i].timestamp = file.timestamp;
                    }
                }
            },
            /**
             * Handle moved files event
             */
            handleMovedFileEvent(movedIds) {

                for (let i = this.files.length - 1; i >= 0; i--) {
                    if (movedIds.includes(this.files[i].id)) {
                        console.log(this.files);
                        this.files.splice(i, 1);
                    }
                }
                this.selectedFiles = [];
            },
            /**
             * Move file to unother folder
             */
            moveFile(file) {
                this.$refs.moveFileModal.openModal([file.id]);
            },
            /**
             * Delete file
             */
            deleteFile(file) {
                this.$dialog.confirm({
                    cancelText: 'Нет',
                    confirmText: 'Да',
                    message: 'Вы действительно хотите удалить файл?',
                    onConfirm: () => {
                        this.isLoading = true;
                        this.fileService.deleteFiles({id: [file.id]}).then(() => {
                            for (let i = 0; i < this.files.length; i++) {
                                if (this.files[i].id === file.id) {
                                    this.files.splice(i, 1);
                                }
                            }
                            this.$root.showToast('is-success', 'Файл удален', 'is-top-right', 1000);
                            this.isLoading = false;
                        }).catch((error) => {
                            this.errorsHandler.handleErrors(error.response.data, this.errors);
                            this.isLoading = false;
                        });
                    }
                });
            },
            /**
             * Upload files
             * @param filesToUpload
             */
            uploadFiles(filesToUpload) {

                $('.file-draggable').val('');

                this.isDragging = false;
                for (let i = filesToUpload.length - 1; i >= 0; i--) {
                    let formData = new FormData();
                    formData.append('folder_id', this.activeFolderId);
                    formData.append('file', filesToUpload[i]);

                    this.files.unshift({
                        id: filesToUpload[i].name + filesToUpload[i].size + filesToUpload[i].lastModified + Date.now(),
                        name: filesToUpload[i].name,
                        size: filesToUpload[i].size,
                        extension: filesToUpload[i].name.split('.').pop(),
                        formData: formData
                    });
                }
            },
            /**
             * Process upload error
             * @param file
             */
            processUploadError(file) {
                for (let i = this.files.length - 1; i >= 0; i--) {
                    if (this.files[i].id === file.id) {
                        setTimeout(function () {
                            this.files.splice(i, 1);
                        }.bind(this), 1000);
                    }
                }
            },
            /**
             * Open rename modal
             * @param file
             */
            openRenameModal(file) {
                this.$refs.renameFileModal.openModal(file);
            }
        }
    }
</script>

<style scoped>
    .no-files-block, .has-text-centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .image-preview {
        object-fit: contain;
    }

    .drag-zone {
        z-index: 999;
        position: relative;
        height: 100%;
        width: 100%;
        opacity: 1;
    }

    .upload {
        width: 100% !important;
        height: 100% !important;
    }
</style>
