<template>
    <div class="justify-content-between fm-info-block">
        <div class="col-6">
            <span :class="{'position-absolute' : selectedFiles.length > 0}">
                Файлов: {{filesCount}}
            </span>
        </div>
        <div class="col-6" v-if="selectedFiles.length > 0">
            <div class="row">
                <div class="col-4">
                <span :class="{'position-absolute' : selectedFiles.length > 0}">
                    Выбрано файлов: {{selectedFiles.length}}
                </span>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-8">
                            <select name="" v-model="action" id="" class="form-control">
                                <option value="0" selected>С выбранными</option>
                                <option value="1">Перенести</option>
                                <option value="2">Удалить</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-default btn-white" @click="processAction">Выполнить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "FooterComponent",
        props: {
            filesCount: 0,
            selectedFiles: {}
        },
        data() {
            return {
                action: 0
            }
        },
        methods: {
            /**
             * Process selected action
             */
            processAction() {
                if (parseInt(this.action) === 1) {
                    this.$emit('move-selected-files');
                } else if (parseInt(this.action) === 2) {
                    this.$emit('delete-selected-files');
                }
                this.action = 0;
            }
        }
    }
</script>

<style scoped>
    .fm-info-block {
        position: absolute;
        bottom: 0px;
        width: 100%;
    }

    .btn-white {
        background: white;
    }

    .position-absolute {
        position: absolute;
    }
</style>
