<template>
    <div class="row">
        <div class="col-4">
            <select title="" name="" v-model="sort" @change="sortData" id="" class="form-control">
                <option value="0">Сортировать</option>
                <option :value="sorts.dateDesc">Сначала новые</option>
                <option :value="sorts.dateAsc">Сначала старые</option>
                <option :value="sorts.alphabetAsc">По алфавиту А-Я</option>
                <option :value="sorts.alphabetDesc">По алфавиту Я-А</option>
            </select>
        </div>
        <div class="col-4">
            <input type="text" class="form-control" v-model="searchString" @input="searchFiles"
                   placeholder="Поиск по файлам">
        </div>
    </div>
</template>

<script>
    export default {
        name: "HeaderComponent",
        props: ['files'],
        data() {
            return {
                filesCopy: [],
                sorts: {
                    dateDesc: 1,
                    dateAsc: 2,
                    alphabetAsc: 3,
                    alphabetDesc: 4
                },
                sort: 0,
                searchString: ''
            }
        },
        methods: {
            /**
             * Set files from parent
             */
            setFiles(files) {
                this.filesCopy = files;
            },
            /**
             * Sort files data
             */
            sortData() {
                this.$emit('sort-started');

                let propertyField = [this.sorts.alphabetAsc, this.sorts.alphabetDesc].includes(parseInt(this.sort)) ? 'name' : 'timestamp';

                this.files.sort(function (a, b) {
                    if (a[propertyField] < b[propertyField]) {
                        return [this.sorts.alphabetAsc, this.sorts.dateAsc].includes(parseInt(this.sort)) ? -1 : 1;
                    }
                    if (a[propertyField] > b[propertyField]) {
                        return [this.sorts.alphabetAsc, this.sorts.dateAsc].includes(parseInt(this.sort)) ? 1 : -1;
                    }
                    return 0;
                }.bind(this));

                this.$emit('sort-finished');
            },
            /**
             * Search files
             */
            searchFiles() {
                this.$emit('sort-started');

                let filteredFiles = this.filesCopy;

                if (this.searchString !== '') {
                    filteredFiles = this.filesCopy.filter(function (file) {
                        return file.name.toLowerCase().includes(this.searchString.toLowerCase());
                    }.bind(this));
                }

                this.$emit('files-filtered', filteredFiles);
            },
        }
    }
</script>

<style scoped>

</style>