<template>
    <div class="columns">
        <div class="column no_right_padding">
            <sidebar-component></sidebar-component>
        </div>
        <div class="column is-four-fifths no_left_padding">
            <div class="body-content">
                <router-view></router-view>
            </div>
        </div>
        <file-manager></file-manager>
    </div>
</template>

<script>
    import ManagerComponent from '../fileManager/ManagerModalComponent';

    export default {
        data() {
            return {}
        },
        components: {
            'file-manager': ManagerComponent
        }
    }
</script>

