<template>
    <div class="sidebar">
        <nav class="navbar" role="navigation" style="padding-bottom: 4px;" aria-label="main navigation">
            <div class="navbar-brand">
                <router-link tag="a" to="/" class="navbar-item" style="background-color: white !important;">
                    <h1 class="text-center">
                        <strong>
                            PICTUS
                        </strong>
                    </h1>
                </router-link>
                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
        </nav>
        <section class="custom_border_top">
            <manager-btn></manager-btn>
        </section>
    </div>
</template>

<script>
    import ManagerBtn from '../fileManager/ManagerBtnComponent';

    export default {
        name: "sidebar",
        components: {
            'manager-btn': ManagerBtn
        },
        data() {
            return {}
        }
    }
</script>
