<template>
    <div class="folders">
        <folder-item v-on:update-folder="emitFolderUpdate"
                     v-on:set-active-folder="setActiveFolder"
                     v-on:folder-deleted="$emit('folder-deleted')"
                     :active-folder-id.sync="activeFolderId"
                     v-for="folder in folders" :key="folder.id"
                     :folder="folder"></folder-item>
    </div>
</template>

<script>
    import FolderItem from './FolderItemComponent';

    export default {
        name: "FoldersComponent",
        props: {
            folders: {},
            className: 'root',
            activeFolderId: null
        },
        components: {
            'folder-item': FolderItem,
        },
        data() {
            return {}
        },
        methods: {
            /**
             * Trigger folder update event to parent
             * @param folderToUpdate
             */
            emitFolderUpdate(folderToUpdate) {
                this.$emit('update-folder', folderToUpdate);
            },
            /**
             * Set active folder
             * @param folderId
             */
            setActiveFolder(folderId) {
                this.$emit('set-active-folder', folderId);
            }
        }
    }
</script>

<style scoped>
    .folders{
        padding-top: 15px;
    }
</style>
