<template>
    <div>
        <ul class="list-unstyled fm-tree-branch" :class="className">
            <li @click="$emit('set-active-folder', folder.id)" @contextmenu.prevent="$refs.ctxMenu.open">
                <p class="unselectable" :class="{'active-folder' : parseInt(activeFolderId) === parseInt(folder.id)}">
                    <span v-if="folder.childFolders.length > 0">
                        <i class="fa fa-folder-minus" @click="isOpened = false" v-if="isOpened"></i>
                        <i class="fa fa-folder-plus" v-else @click="isOpened = true"></i>
                    </span>
                    <i class="far fa-folder" v-else></i> {{folder.name}}
                </p>
            </li>
            <span class="children" v-if="folder.childFolders.length > 0 && isOpened">
                <FolderItemComponent v-on:update-folder="emitUpdate"
                                     v-on:set-active-folder="folderClicked"
                                     v-on:folder-deleted="$emit('folder-deleted')"
                                     v-for="childFolder in folder.childFolders"
                                     :active-folder-id="activeFolderId"
                                     :key="childFolder.id"
                                     :folder="childFolder">
                </FolderItemComponent>
            </span>
        </ul>
        <context-menu id="context-menu" class="fm-context-menu" ref="ctxMenu">
            <ul class="list-unstyled">
                <li @click="$emit('update-folder', folder)">
                    Редактировать
                </li>
                <li @click="deleteFolder">
                    Удалить
                </li>
            </ul>
        </context-menu>
    </div>
</template>

<script>
    import contextMenu from 'vue-context-menu';
    import {FolderService} from "../../../services/FolderService";
    import {ErrorsHandler} from "../../../../services/error/ErrorsHandler";

    export default {
        name: "FolderItemComponent",
        props: {
            className: 'root',
            folder: {
                childFolders: []
            },
            activeFolderId: null
        },
        components: {
            contextMenu
        },
        data() {
            return {
                isOpened: false,
                folderService: null,
                clickCount: 0,
                clickTimer: null
            }
        },
        created() {
            this.folderService = new FolderService();
        },
        methods: {
            /**
             * Delete folder
             */
            deleteFolder() {
                this.$dialog.confirm({
                    cancelText: 'Нет',
                    confirmText: 'Да',
                    message: 'Вы действительно хотите удалить папку?',
                    onConfirm: () => {
                        this.folderService.deleteFolder(this.folder.id).then(() => {
                            this.$emit('folder-deleted');
                        }).catch((error) => {
                            (new ErrorsHandler()).handleErrors(error.response.data);
                        })
                    }
                });

            },
            /**
             * Trigger update
             * @param folder
             */
            emitUpdate(folder) {
                this.$emit('update-folder', folder);
            },
            /**
             * Handle child folders click event
             * @param folderId
             */
            folderClicked(folderId) {
                this.$emit('set-active-folder', folderId);
            },
        }
    }
</script>

<style scoped>
    .files-count {
        position: absolute;
        right: 45px;
        font-style: italic;
    }

    .active-folder {
        background-color: #dedede !important;
    }

    .fm-context-menu .list-unstyled {
        border-bottom: none;
    }

    .unselectable {
        background: white;
    }

    .fm-tree-branch .children i {
        margin-left: 10px;
    }
</style>
