<template>
    <div class="col-12" style="height: 700px;">
        <b-loading :is-full-page="true" :active.sync="isLoading" :can-cancel="false"></b-loading>
        <div class="fm d-flex flex-column">
            <div class="fm-navbar mb-3">
                <div class="row justify-content-between">
                    <div class="col-3">
                        <div role="group" class="btn-group">
                            <button type="button" title="New folder" data-toggle="modal" data-target="#addFolderModal"
                                    class="btn btn-secondary"><i
                                    class="far fa-folder"></i></button>
                            <button type="button" title="Upload" @click="openFileDialog" class="btn btn-secondary">
                                <i
                                        class="fas fa-upload"></i>
                                <input type="file" ref="file" @change="triggerFilesUploading" multiple
                                       style="display: none">
                            </button>
                        </div>
                    </div>
                    <div class="col-9">
                        <files-header
                                ref="filesHeaderSearch"
                                v-on:files-filtered="handleFilesSearch"
                                v-on:sort-started="isLoading = true"
                                v-on:sort-finished="isLoading = false"
                                :files.sync="files">
                        </files-header>
                    </div>
                </div>
            </div>
            <div class="fm-body">
                <div class="fm-notification"><span></span></div>
                <div class="fm-tree col-4 col-md-3">
                    <folders :folders="this.folders"
                             v-on:folder-deleted="fetchFoldersTree"
                             v-on:set-active-folder="setActiveFolder"
                             :active-folder-id="activeFolderId"
                             v-on:update-folder="openUpdateFolderModal"></folders>
                </div>
                <div class="fm-content d-flex flex-column col-8 col-md-9">
                    <div class="fm-breadcrumb" v-if="foldersBreadcrumbs.length > 0">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb active-manager">
                                <li class="breadcrumb-item" v-for="folder in foldersBreadcrumbs" :key="folder.id">
                                    <span class="badge badge-secondary">
                                       <i class="far fa-folder"></i> {{folder.name}}
                                    </span>
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <files
                            v-on:update-files="handleFilesUpdatedEvent"
                            ref="files"
                            :folders="foldersList"
                            :files.sync="files"
                            :is-files-loading.sync="isFilesLoading"
                            :active-folder-id="activeFolderId">
                    </files>
                </div>
            </div>

        </div>
        <add-folder v-if="foldersList !== null" :folders-list.sync="foldersList"
                    v-on:folder-created="fetchFoldersTree"></add-folder>
        <update-folder v-if="foldersList !== null" :folders-list.sync="foldersList"
                       :folder.sync="folderToUpdate" v-on:folder-updated="fetchFoldersTree"></update-folder>
    </div>
</template>

<script>
    import FileHeaderComponent from './files/HeaderComponent';
    import Folders from './folders/FoldersComponent';
    import AddFolder from './folders/modals/AddFolderComponent';
    import {FolderService} from "../../services/FolderService";
    import {ErrorsHandler} from "../../../services/error/ErrorsHandler";
    import UpdateFolder from './folders/modals/UpdateFolderComponent'
    import {FileService} from "../../services/FileService";
    import Files from '../../fileManager/parts/files/FilesComponent';

    export default {
        name: "MainComponent",
        components: {
            'folders': Folders,
            'add-folder': AddFolder,
            'update-folder': UpdateFolder,
            'files': Files,
            'files-header': FileHeaderComponent,
        },
        data() {
            return {
                folders: [],
                files: [],
                isAddFolderShown: false,
                isFilesLoading: false,
                folderService: new FolderService(),
                errorsHandler: new ErrorsHandler(),
                fileService: new FileService(),
                isLoading: true,
                activeFolderId: null,
                folderToUpdate: {
                    name: '',
                    parent_id: 0
                },
                foldersList: null,
                foldersBreadcrumbs: []
            }
        },
        created() {
            this.fetchFoldersTree();

            this.folderService.getFolders().then((response) => {
                this.foldersList = response.data.data;
            }).catch((error) => {
                this.errorsHandler.handleErrors(error.response.data);
            });
        },
        methods: {
            /**
             * Handle files searched event
             */
            handleFilesSearch(newFilesArray) {
                this.files = newFilesArray;

                this.isLoading = false;
            },
            /**
             * Handle files update event
             */
            handleFilesUpdatedEvent(files) {
                this.files = files;
            },
            /**
             * Fetch folders tree
             */
            fetchFoldersTree() {
                this.isLoading = true;
                this.files = [];
                this.foldersBreadcrumbs = [];
                this.folderService.getFoldersTree().then((response) => {
                    this.folders = response.data.data;
                    this.isLoading = false;
                }).catch((error) => {
                    this.isLoading = false;
                    this.errorsHandler.handleErrors(error.response.data);
                });
            },
            /**
             * Open update folder modal
             */
            openUpdateFolderModal(folderToUpdate) {
                this.folderToUpdate = folderToUpdate;
                $('#updateFolderModal').modal('toggle');
            },
            /**
             * Set active folder
             * @param folderId
             */
            setActiveFolder(folderId) {
                this.activeFolderId = folderId;
                this.fetchFiles(folderId);
                this.updateFolderBreadcrumbs();
            },
            /**
             * Update breadcrumbs
             */
            updateFolderBreadcrumbs() {
                this.foldersBreadcrumbs = [];
                for (let i = 0; i < this.foldersList.length; i++) {
                    if (this.foldersList[i].id === this.activeFolderId) {
                        this.foldersBreadcrumbs.push(this.foldersList[i]);
                        let parentId = this.foldersList[i].parent_id;
                        while (parentId !== null) {
                            let element = this.getParent(parentId);
                            this.foldersBreadcrumbs.unshift(element);
                            parentId = element.parent_id;
                        }
                    }
                }
            },
            /**
             * Get parent element
             * @param parentId
             */
            getParent(parentId) {
                for (let i = 0; i < this.foldersList.length; i++) {
                    if (this.foldersList[i].id === parentId) {
                        return this.foldersList[i];
                    }
                }
            },
            /**
             * Search in tree
             * @param folder
             * @param id
             * @returns {*}
             */
            searchTree(folder, id) {
                if (folder.id === id) {
                    return folder.name;
                } else if (folder.childFolders !== null) {
                    let i;
                    let result = null;
                    for (i = 0; result == null && i < folder.childFolders.length; i++) {
                        result = this.searchTree(folder.childFolders[i], id);
                    }
                    return result;
                }
                return null;
            },
            /**
             * Fetch files
             * @param folderId
             */
            fetchFiles(folderId) {
                this.isFilesLoading = true;
                this.fileService.getFiles({folder_id: folderId}).then((response) => {
                    this.files = response.data.data;
                    this.$refs.filesHeaderSearch.setFiles(this.files);
                    this.isFilesLoading = false;
                }).catch((error) => {
                    this.isFilesLoading = false;
                    this.errorsHandler.handleErrors(error.response.data, this.errors);
                })
            },
            /**
             * Open uploading file dialog
             */
            openFileDialog() {
                if (this.activeFolderId === null) {
                    this.$root.showToast('is-danger', 'Сперва необходимо выбрать папку для загрузки');
                    return;
                }
                this.$refs.file.value = '';
                this.$refs.file.click()
            },
            /**
             * Triggering files uploading in child component
             */
            triggerFilesUploading() {
                this.$refs.files.uploadFiles(this.$refs.file.files);
            }
        }
    }
</script>

<style scoped>

</style>
