<template>
    <div class="modal fade" id="moveFileComponent" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b-loading :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="folder_id">Папка</label>
                                <select name="folder_id" class="form-control" v-model="folder_id" id="folder_id">
                                    <option value="0" selected hidden>Выбрать папку</option>
                                    <option v-for="folder in folderWithoutActive" :key="folder.id" :value="folder.id">
                                        {{folder.name}}
                                    </option>
                                </select>
                                <strong class="text-danger">{{ errors.first('folder_id') }}</strong>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block" @click="moveFiles">Переместить
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-block" @click="closeModal">Отменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {FileService} from "../../../../services/FileService";
    import {ErrorsHandler} from "../../../../../services/error/ErrorsHandler";

    export default {
        name: "MoveFileComponent",
        props: ['folders', 'activeFolderId'],
        data() {
            return {
                isLoading: false,
                folder_id: 0,
                idsToMove: [],
                fileService: null,
                errorsHandler: null
            }
        },
        mounted() {
            this.fileService = new FileService();
            this.errorsHandler = new ErrorsHandler();
        },
        computed: {
            /**
             * Get folders for moving without active
             */
            folderWithoutActive: function () {
                if (this.folders !== null && this.activeFolderId) {
                    return this.folders.filter(function (folder) {
                        return folder.id !== this.activeFolderId
                    }.bind(this))
                }

                return [];
            }
        },
        methods: {
            /**
             * Move files
             */
            moveFiles() {
                this.isLoading = true;

                this.fileService.moveFiles({folder_id: this.folder_id, id: this.idsToMove}).then(() => {
                    this.$emit('files-moved', this.idsToMove);
                    this.closeModal();
                    this.isLoading = false;
                    this.folder_id = 0;
                    this.$root.showToast('is-success', 'Файл(ы) перемещены.')
                }).catch((error) => {
                    this.errorsHandler.handleErrors(error.response.data, this.errors);
                    this.isLoading = false;
                });
            },
            /**
             * Open modal
             */
            openModal(ids) {
                this.idsToMove = ids;
                $('#moveFileComponent').modal('toggle');
            },
            /**
             * Close modal
             */
            closeModal() {
                $('#moveFileComponent').modal('toggle');
            },
        }
    }
</script>


<style scoped>

</style>
