<template>
    <div class="modal fade" id="renameFileComponent" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b-loading :is-full-page="false" :active.sync="isLoading"
                               :can-cancel="false"></b-loading>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Название</label>
                                <input type="text" id="name" required v-model="form.name" class="form-control">
                                <strong class="text-danger">{{ errors.first('name') }}</strong>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block" @click="renameFile">Переименовать
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-block" @click="closeModal">Отменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {ErrorsHandler} from "../../../../../services/error/ErrorsHandler";
    import {FileService} from "../../../../services/FileService";

    export default {
        name: "RenameFileComponent",
        data() {
            return {
                form: {
                    id: 0,
                    name: '',
                },
                errorsHandler: null,
                fileService: null,
                isLoading: false
            }
        },
        mounted() {
            this.errorsHandler = new ErrorsHandler();
            this.fileService = new FileService();
        },
        methods: {
            /**
             * Rename file
             */
            renameFile() {
                this.isLoading = true;
                this.fileService.renameFile(this.form.id, {name: this.form.name}).then((response) => {
                    this.isLoading = false;
                    this.form.name = response.data.data.name;
                    this.$root.showToast('is-success', 'Файл переименован');
                    this.closeModal();
                }).catch((error) => {
                    this.errorsHandler.handleErrors(error.response.data, this.errors);
                    this.isLoading = false;
                });
            },
            /**
             * Open modal
             */
            openModal(file) {
                this.form = file;
                $('#renameFileComponent').modal('toggle');
            },
            /**
             * Close modal
             */
            closeModal() {
                $('#renameFileComponent').modal('toggle');
            },
        }
    }
</script>

<style scoped>
    .loading-overlay .is-active {
        z-index: 9999;
    }
</style>