.auth-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

  form {
    width: 100%;
    max-width: 450px;
    padding: 25px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .checkbox {
      font-weight: 400;
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
      margin-bottom: -1px;
      border-radius: 0;
    }
    .form-control:focus {
      z-index: 2;
    }
    input:first-of-type {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      margin-top: 15px;
      margin-bottom: 20px;
    }
    input:last-of-type {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-bottom: 20px;
    }

  }
}