
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Sign In Form
@import "signin";

// Main
@import "main";

// Modals
@import "modals";

// FileManager
@import "file-manager";

.loading-overlay {
  z-index: 9999 !important;
}

.upload .upload-draggable {
  width:100%;
  height:93%;
}
