.fm-navbar .btn-group {
  margin-right: .4rem
}

.fm-navbar > .row {
  background-color: #f9f9f9;
  padding: 10px;
}

.fm-tree-branch {
  display: table;
  width: 100%;
  //padding-left: 1.4rem
}

.fm-tree-branch li > p {
  margin-bottom: .1rem;
  padding: .4rem .4rem;
  white-space: nowrap;
  cursor: pointer
}

.fm-tree-branch li > p.selected, .fm-tree-branch li > p:hover {
  background-color: #f8f9fa
}

.fm-tree-branch .fas.fa-minus {
  padding-left: .1rem;
  padding-right: .6rem
}

.fm-tree-branch .far {
  padding-right: .5rem
}

.fade-tree-enter-active, .fade-tree-leave-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.fade-tree-enter, .fade-tree-leave-to {
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0
}

.fm-tree {
  overflow: auto;
  background-color: #f9f9f9;
  //border-right: 1px solid #6d757d
}

.fm-tree > .fm-folders-tree {
  padding-left: .2rem
}

.fm-tree .fm-tree-disk {
  padding: .2rem .3rem;
  margin-bottom: .3rem;
  background-color: #fff
}

.fm-tree .fm-tree-disk > i {
  padding-left: .2rem;
  padding-right: .5rem
}

.fm-disk-list ul.list-inline {
  margin-bottom: .5rem
}

.fm-disk-list .badge.badge-light {
  cursor: pointer
}

.fm-breadcrumb .breadcrumb {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding: .2rem .3rem;
  margin-bottom: .5rem
}

.fm-breadcrumb .breadcrumb.active-manager {
  background-color: #f9f9f9
}

.fm-info-block span {
  font-size: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.fm-breadcrumb .breadcrumb .breadcrumb-item:not(.active):hover {
  cursor: pointer;
  font-weight: 400;
  color: #6d757d
}

.fm-table thead th {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  cursor: pointer;
  border-top: none
}

.fm-table thead th:hover {
  background-color: #f8f9fa
}

.fm-table thead th > i {
  padding-left: .5rem
}

.fm-table td {
  white-space: nowrap;
  overflow: hidden
}

.fm-table tr:hover {
  background-color: #f8f9fa
}

.fm-table .w-10 {
  width: 10%
}

.fm-table .w-65 {
  width: 65%
}

.fm-table .fm-content-item {
  cursor: pointer
}

.fm-table .text-hidden {
  color: #cdcdcd
}

.fm-grid {
  padding-top: 1rem
}

.fm-grid .fm-grid-item {
  position: relative;
  width: 100px;
  height: 100px;
  padding: .4rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 5px
}

.fm-grid .fm-grid-item.active {
  background-color: #c2e5eb;
  -webkit-box-shadow: 3px 2px 5px grey;
  box-shadow: 3px 2px 5px grey
}

.fm-grid .fm-grid-item:not(.active):hover {
  background-color: #f8f9fa;
  -webkit-box-shadow: 3px 2px 5px grey;
  box-shadow: 3px 2px 5px grey
}

.fm-grid .fm-grid-item .fm-item-icon {
  cursor: pointer;
  height: 70px;
}

.fm-grid .fm-grid-item .fm-item-icon > i {
  color: #6d757d
}

.fm-grid .fm-grid-item .fm-item-info {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.fm-content {
  height: 100%;
  padding-left: 1rem
}

.fm-content .fm-content-body {
  overflow: auto;
  height: 100%;
}

.fm-modal-upload .fm-btn-wrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 6px;
  margin-bottom: .6rem
}

.fm-modal-upload .fm-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer
}

.fm-modal-upload .fm-upload-list .far {
  padding-right: .5rem
}

.fm-modal-upload .fm-upload-list .form-check-inline {
  margin-right: 0
}

.fm-modal-upload .fm-upload-info > .progress {
  margin-bottom: 1rem
}

.fm-additions-file-list .far, .fm-modal-clipboard .modal-body .far {
  padding-right: .5rem
}

.fm-modal-properties .modal-body .row {
  margin-bottom: .3rem;
  padding-top: .3rem;
  padding-bottom: .3rem
}

.fm-modal-properties .modal-body .row .fa-copy {
  padding-top: .2rem;
  display: none;
  cursor: pointer
}

.fm-modal-properties .modal-body .row:hover {
  background-color: #f8f9fa
}

.fm-modal-properties .modal-body .row:hover .fa-copy {
  display: block
}

.fm-modal-properties .modal-body .col-2 {
  font-weight: 700
}

.fm-modal-properties .modal-body .col-9 {
  word-wrap: break-word
}

/*!
 * Cropper.js v1.5.1
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2019-03-10T09:55:50.492Z
 */
.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%
}

.cropper-canvas, .cropper-crop-box, .cropper-drag-box, .cropper-modal, .cropper-wrap-box {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.cropper-canvas, .cropper-wrap-box {
  overflow: hidden
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0
}

.cropper-modal {
  background-color: #000;
  opacity: .5
}

.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, .75);
  overflow: hidden;
  width: 100%
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: .5;
  position: absolute
}

.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: 33.33333%;
  left: 0;
  top: 33.33333%;
  width: 100%
}

.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: 33.33333%;
  top: 0;
  width: 33.33333%
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: .75;
  position: absolute;
  top: 50%;
  width: 0
}

.cropper-center:after, .cropper-center:before {
  background-color: #eee;
  content: " ";
  display: block;
  position: absolute
}

.cropper-center:before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px
}

.cropper-center:after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px
}

.cropper-face, .cropper-line, .cropper-point {
  display: block;
  height: 100%;
  opacity: .1;
  position: absolute;
  width: 100%
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0
}

.cropper-line {
  background-color: #39f
}

.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px
}

.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px
}

.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px
}

.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0
}

.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: .75;
  width: 5px
}

.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%
}

.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px
}

.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%
}

.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px
}

.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px
}

.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px
}

.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px
}

.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: .75;
    width: 5px
  }
}

.cropper-point.point-se:before {
  background-color: #39f;
  bottom: -50%;
  content: " ";
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%
}

.cropper-invisible {
  opacity: 0
}

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC")
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0
}

.cropper-hidden {
  display: none !important
}

.cropper-move {
  cursor: move
}

.cropper-crop {
  cursor: crosshair
}

.cropper-disabled .cropper-drag-box, .cropper-disabled .cropper-face, .cropper-disabled .cropper-line, .cropper-disabled .cropper-point {
  cursor: not-allowed
}

.fm-additions-cropper {
  overflow: hidden
}

.fm-additions-cropper > .row {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap
}

.fm-additions-cropper .cropper-block {
  overflow: hidden
}

.fm-additions-cropper .cropper-block img {
  max-width: 100%
}

.fm-additions-cropper .col-sm-3 {
  overflow: auto
}

.fm-additions-cropper .col-sm-3::-webkit-scrollbar {
  display: none
}

.fm-additions-cropper .cropper-preview {
  margin-bottom: 1rem;
  overflow: hidden;
  height: 200px
}

.fm-additions-cropper .cropper-preview img {
  max-width: 100%
}

.fm-additions-cropper .cropper-data {
  padding-left: 1rem;
  padding-right: 1rem
}

.fm-additions-cropper .cropper-data > .input-group {
  margin-bottom: .5rem
}

.fm-additions-cropper .cropper-data .input-group-prepend .input-group-text {
  min-width: 4rem
}

.fm-additions-cropper .cropper-data .input-group-append .input-group-text {
  min-width: 3rem
}

.fm-additions-cropper > .d-flex {
  padding: 1rem;
  border-top: 1px solid #e9ecef
}

.fm-modal-preview .modal-body {
  padding: 0
}

.fm-modal-preview .modal-body img {
  max-width: 100%
}

.fm-modal-preview > .d-flex {
  padding: 1rem;
  border-top: 1px solid #e9ecef
}

.CodeMirror {
  font-family: monospace;
  height: 300px;
  color: #000;
  direction: ltr
}

.CodeMirror-lines {
  padding: 4px 0
}

.CodeMirror pre {
  padding: 0 4px
}

.CodeMirror-gutter-filler, .CodeMirror-scrollbar-filler {
  background-color: #fff
}

.CodeMirror-gutters {
  border-right: 1px solid #ddd;
  background-color: #f7f7f7;
  white-space: nowrap
}

.CodeMirror-linenumber {
  padding: 0 3px 0 5px;
  min-width: 20px;
  text-align: right;
  color: #999;
  white-space: nowrap
}

.CodeMirror-guttermarker {
  color: #000
}

.CodeMirror-guttermarker-subtle {
  color: #999
}

.CodeMirror-cursor {
  border-left: 1px solid #000;
  border-right: none;
  width: 0
}

.CodeMirror div.CodeMirror-secondarycursor {
  border-left: 1px solid silver
}

.cm-fat-cursor .CodeMirror-cursor {
  width: auto;
  border: 0 !important;
  background: #7e7
}

.cm-fat-cursor div.CodeMirror-cursors {
  z-index: 1
}

.cm-fat-cursor-mark {
  background-color: rgba(20, 255, 20, .5)
}

.cm-animate-fat-cursor, .cm-fat-cursor-mark {
  -webkit-animation: blink 1.06s steps(1) infinite;
  animation: blink 1.06s steps(1) infinite
}

.cm-animate-fat-cursor {
  width: auto;
  border: 0;
  background-color: #7e7
}

@-webkit-keyframes blink {
  50% {
    background-color: transparent
  }
}

@keyframes blink {
  50% {
    background-color: transparent
  }
}

.cm-tab {
  display: inline-block;
  text-decoration: inherit
}

.CodeMirror-rulers {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: -20px;
  overflow: hidden
}

.CodeMirror-ruler {
  border-left: 1px solid #ccc;
  top: 0;
  bottom: 0;
  position: absolute
}

.cm-s-default .cm-header {
  color: #00f
}

.cm-s-default .cm-quote {
  color: #090
}

.cm-negative {
  color: #d44
}

.cm-positive {
  color: #292
}

.cm-header, .cm-strong {
  font-weight: 700
}

.cm-em {
  font-style: italic
}

.cm-link {
  text-decoration: underline
}

.cm-strikethrough {
  text-decoration: line-through
}

.cm-s-default .cm-keyword {
  color: #708
}

.cm-s-default .cm-atom {
  color: #219
}

.cm-s-default .cm-number {
  color: #164
}

.cm-s-default .cm-def {
  color: #00f
}

.cm-s-default .cm-variable-2 {
  color: #05a
}

.cm-s-default .cm-type, .cm-s-default .cm-variable-3 {
  color: #085
}

.cm-s-default .cm-comment {
  color: #a50
}

.cm-s-default .cm-string {
  color: #a11
}

.cm-s-default .cm-string-2 {
  color: #f50
}

.cm-s-default .cm-meta, .cm-s-default .cm-qualifier {
  color: #555
}

.cm-s-default .cm-builtin {
  color: #30a
}

.cm-s-default .cm-bracket {
  color: #997
}

.cm-s-default .cm-tag {
  color: #170
}

.cm-s-default .cm-attribute {
  color: #00c
}

.cm-s-default .cm-hr {
  color: #999
}

.cm-s-default .cm-link {
  color: #00c
}

.cm-invalidchar, .cm-s-default .cm-error {
  color: red
}

.CodeMirror-composing {
  border-bottom: 2px solid
}

div.CodeMirror span.CodeMirror-matchingbracket {
  color: #0b0
}

div.CodeMirror span.CodeMirror-nonmatchingbracket {
  color: #a22
}

.CodeMirror-matchingtag {
  background: rgba(255, 150, 0, .3)
}

.CodeMirror-activeline-background {
  background: #e8f2ff
}

.CodeMirror {
  position: relative;
  overflow: hidden;
  background: #fff
}

.CodeMirror-scroll {
  overflow: scroll !important;
  margin-bottom: -30px;
  margin-right: -30px;
  padding-bottom: 30px;
  height: 100%;
  outline: none;
  position: relative
}

.CodeMirror-sizer {
  position: relative;
  border-right: 30px solid transparent
}

.CodeMirror-gutter-filler, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-vscrollbar {
  position: absolute;
  z-index: 6;
  display: none
}

.CodeMirror-vscrollbar {
  right: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll
}

.CodeMirror-hscrollbar {
  bottom: 0;
  left: 0;
  overflow-y: hidden;
  overflow-x: scroll
}

.CodeMirror-scrollbar-filler {
  right: 0;
  bottom: 0
}

.CodeMirror-gutter-filler {
  left: 0;
  bottom: 0
}

.CodeMirror-gutters {
  position: absolute;
  left: 0;
  top: 0;
  min-height: 100%;
  z-index: 3
}

.CodeMirror-gutter {
  white-space: normal;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: -30px
}

.CodeMirror-gutter-wrapper {
  position: absolute;
  z-index: 4;
  background: none !important;
  border: none !important
}

.CodeMirror-gutter-background {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 4
}

.CodeMirror-gutter-elt {
  position: absolute;
  cursor: default;
  z-index: 4
}

.CodeMirror-gutter-wrapper ::selection {
  background-color: transparent
}

.CodeMirror-gutter-wrapper ::-moz-selection {
  background-color: transparent
}

.CodeMirror-lines {
  cursor: text;
  min-height: 1px
}

.CodeMirror pre {
  border-radius: 0;
  border-width: 0;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  white-space: pre;
  word-wrap: normal;
  line-height: inherit;
  color: inherit;
  z-index: 2;
  position: relative;
  overflow: visible;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-variant-ligatures: contextual;
  font-variant-ligatures: contextual
}

.CodeMirror-wrap pre {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: normal
}

.CodeMirror-linebackground {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 0
}

.CodeMirror-linewidget {
  position: relative;
  z-index: 2;
  padding: .1px
}

.CodeMirror-rtl pre {
  direction: rtl
}

.CodeMirror-code {
  outline: none
}

.CodeMirror-gutter, .CodeMirror-gutters, .CodeMirror-linenumber, .CodeMirror-scroll, .CodeMirror-sizer {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

.CodeMirror-measure {
  position: absolute;
  width: 100%;
  height: 0;
  overflow: hidden;
  visibility: hidden
}

.CodeMirror-cursor {
  position: absolute;
  pointer-events: none
}

.CodeMirror-measure pre {
  position: static
}

div.CodeMirror-cursors {
  visibility: hidden;
  position: relative;
  z-index: 3
}

.CodeMirror-focused div.CodeMirror-cursors, div.CodeMirror-dragcursors {
  visibility: visible
}

.CodeMirror-selected {
  background: #d9d9d9
}

.CodeMirror-focused .CodeMirror-selected {
  background: #d7d4f0
}

.CodeMirror-crosshair {
  cursor: crosshair
}

.CodeMirror-line::selection, .CodeMirror-line > span::selection, .CodeMirror-line > span > span::selection {
  background: #d7d4f0
}

.CodeMirror-line::-moz-selection, .CodeMirror-line > span::-moz-selection, .CodeMirror-line > span > span::-moz-selection {
  background: #d7d4f0
}

.cm-searching {
  background-color: #ffa;
  background-color: rgba(255, 255, 0, .4)
}

.cm-force-border {
  padding-right: .1px
}

@media print {
  .CodeMirror div.CodeMirror-cursors {
    visibility: hidden
  }
}

.cm-tab-wrap-hack:after {
  content: ""
}

span.CodeMirror-selectedtext {
  background: none
}

.cm-s-blackboard.CodeMirror {
  background: #0c1021;
  color: #f8f8f8
}

.cm-s-blackboard div.CodeMirror-selected {
  background: #253b76
}

.cm-s-blackboard .CodeMirror-line::selection, .cm-s-blackboard .CodeMirror-line > span::selection, .cm-s-blackboard .CodeMirror-line > span > span::selection {
  background: rgba(37, 59, 118, .99)
}

.cm-s-blackboard .CodeMirror-line::-moz-selection, .cm-s-blackboard .CodeMirror-line > span::-moz-selection, .cm-s-blackboard .CodeMirror-line > span > span::-moz-selection {
  background: rgba(37, 59, 118, .99)
}

.cm-s-blackboard .CodeMirror-gutters {
  background: #0c1021;
  border-right: 0
}

.cm-s-blackboard .CodeMirror-guttermarker {
  color: #fbde2d
}

.cm-s-blackboard .CodeMirror-guttermarker-subtle, .cm-s-blackboard .CodeMirror-linenumber {
  color: #888
}

.cm-s-blackboard .CodeMirror-cursor {
  border-left: 1px solid #a7a7a7
}

.cm-s-blackboard .cm-keyword {
  color: #fbde2d
}

.cm-s-blackboard .cm-atom, .cm-s-blackboard .cm-number {
  color: #d8fa3c
}

.cm-s-blackboard .cm-def {
  color: #8da6ce
}

.cm-s-blackboard .cm-variable {
  color: #ff6400
}

.cm-s-blackboard .cm-operator {
  color: #fbde2d
}

.cm-s-blackboard .cm-comment {
  color: #aeaeae
}

.cm-s-blackboard .cm-string, .cm-s-blackboard .cm-string-2 {
  color: #61ce3c
}

.cm-s-blackboard .cm-meta {
  color: #d8fa3c
}

.cm-s-blackboard .cm-attribute, .cm-s-blackboard .cm-builtin, .cm-s-blackboard .cm-tag {
  color: #8da6ce
}

.cm-s-blackboard .cm-header {
  color: #ff6400
}

.cm-s-blackboard .cm-hr {
  color: #aeaeae
}

.cm-s-blackboard .cm-link {
  color: #8da6ce
}

.cm-s-blackboard .cm-error {
  background: #9d1e15;
  color: #f8f8f8
}

.cm-s-blackboard .CodeMirror-activeline-background {
  background: #3c3636
}

.cm-s-blackboard .CodeMirror-matchingbracket {
  outline: 1px solid grey;
  color: #fff !important
}

.fm-modal-text-edit .modal-body {
  padding: 0
}

.fm-modal-audio-player .fas.fa-play {
  color: grey;
  opacity: .1;
  cursor: pointer
}

.fm-modal-audio-player .fas.fa-play:hover {
  opacity: .5
}

.fm-modal-audio-player .fas.fa-play.active {
  opacity: 1;
  color: #00bfff
}

.fm-modal-audio-player .fas.fa-pause {
  color: grey;
  opacity: .5;
  cursor: pointer
}

.fm-modal {
  position: absolute;
  z-index: 9998;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .35);
  display: block;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  overflow: auto
}

.fm-modal .modal-xl {
  max-width: 96%
}

.fm-modal-enter-active, .fm-modal-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s
}

.fm-modal-enter, .fm-modal-leave-to {
  opacity: 0
}

.fm-info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  padding-top: .2rem;
  padding-bottom: .4rem;
  background: #f9f9f9;
  font-style: italic;
  font-weight: 300;
  //border-bottom: 1px solid #6d757d
}

.fm-info-block .progress {
  margin-top: .3rem
}

.fm-info-block .text-right > span {
  padding-left: .5rem;
  cursor: pointer
}

.fm-context-menu {
  position: absolute;
  z-index: 9997;
  background-color: #fff;
  -webkit-box-shadow: 3px 2px 5px grey;
  box-shadow: 3px 2px 5px grey;
  border-radius: 5px
}

.fm-context-menu .list-unstyled {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .125)
}

.fm-context-menu ul > li {
  padding: .4rem 1rem
}

.fm-context-menu ul > li:not(.disabled) {
  cursor: pointer
}

.fm-context-menu ul > li:not(.disabled):hover {
  background-color: #f8f9fa
}

.fm-context-menu ul > li:not(.disabled) i {
  padding-right: 2rem
}

.fm-notification {
  position: absolute;
  right: 1rem;
  bottom: 0;
  z-index: 9999;
  width: 350px;
  display: block;
  -webkit-transition: opacity .4s ease;
  transition: opacity .4s ease;
  overflow: auto
}

.fm-notification .fm-notification-item {
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: .25rem
}

.fm-notification .notify-enter-active {
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.fm-notification .notify-leave-active {
  -webkit-transition: all .8s ease;
  transition: all .8s ease
}

.fm-notification .notify-enter, .fm-notification .notify-leave-to {
  opacity: 0
}

@-webkit-keyframes plyr-progress {
  to {
    background-position: 25px 0
  }
}

@keyframes plyr-progress {
  to {
    background-position: 25px 0
  }
}

@-webkit-keyframes plyr-popup {
  0% {
    opacity: .5;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@keyframes plyr-popup {
  0% {
    opacity: .5;
    -webkit-transform: translateY(10px);
    transform: translateY(10px)
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}

@-webkit-keyframes plyr-fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes plyr-fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.plyr {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: subpixel-antialiased;
  direction: ltr;
  font-family: Avenir, Avenir Next, Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 500;
  line-height: 1.7;
  max-width: 100%;
  min-width: 200px;
  position: relative;
  text-shadow: none;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease
}

.plyr audio, .plyr video {
  border-radius: inherit;
  height: auto;
  vertical-align: middle;
  width: 100%
}

.plyr button {
  font: inherit;
  line-height: inherit;
  width: auto
}

.plyr:focus {
  outline: 0
}

.plyr--full-ui {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

.plyr--full-ui *, .plyr--full-ui :after, .plyr--full-ui :before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

.plyr--full-ui a, .plyr--full-ui button, .plyr--full-ui input, .plyr--full-ui label {
  -ms-touch-action: manipulation;
  touch-action: manipulation
}

.plyr__badge {
  background: #4f5b5f;
  border-radius: 2px;
  color: #fff;
  font-size: 9px;
  line-height: 1;
  padding: 3px 4px
}

.plyr--full-ui ::-webkit-media-text-track-container {
  display: none
}

.plyr__captions {
  -webkit-animation: plyr-fade-in .3s ease;
  animation: plyr-fade-in .3s ease;
  bottom: 0;
  color: #fff;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: absolute;
  text-align: center;
  -webkit-transition: -webkit-transform .4s ease-in-out;
  transition: -webkit-transform .4s ease-in-out;
  transition: transform .4s ease-in-out;
  transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  width: 100%
}

.plyr__captions .plyr__caption {
  background: rgba(0, 0, 0, .8);
  border-radius: 2px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  line-height: 185%;
  padding: .2em .5em;
  white-space: pre-wrap
}

.plyr__captions .plyr__caption div {
  display: inline
}

.plyr__captions span:empty {
  display: none
}

@media (min-width: 480px) {
  .plyr__captions {
    font-size: 16px;
    padding: 20px
  }
}

@media (min-width: 768px) {
  .plyr__captions {
    font-size: 18px
  }
}

.plyr--captions-active .plyr__captions {
  display: block
}

.plyr:not(.plyr--hide-controls) .plyr__controls:not(:empty) ~ .plyr__captions {
  -webkit-transform: translateY(-40px);
  transform: translateY(-40px)
}

.plyr__control {
  background: transparent;
  border: 0;
  border-radius: 3px;
  color: inherit;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: visible;
  padding: 7px;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease
}

.plyr__control svg {
  display: block;
  fill: currentColor;
  height: 18px;
  pointer-events: none;
  width: 18px
}

.plyr__control:focus {
  outline: 0
}

.plyr__control.plyr__tab-focus {
  -webkit-box-shadow: 0 0 0 5px rgba(26, 175, 255, .5);
  box-shadow: 0 0 0 5px rgba(26, 175, 255, .5);
  outline: 0
}

a.plyr__control {
  text-decoration: none
}

.plyr__control.plyr__control--pressed .icon--not-pressed, .plyr__control.plyr__control--pressed .label--not-pressed, .plyr__control:not(.plyr__control--pressed) .icon--pressed, .plyr__control:not(.plyr__control--pressed) .label--pressed, a.plyr__control:after, a.plyr__control:before {
  display: none
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  background: #1aafff;
  color: #fff
}

.plyr--video .plyr__control svg {
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, .15))
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: #1aafff;
  color: #fff
}

.plyr__control--overlaid {
  background: rgba(26, 175, 255, .8);
  border: 0;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: #fff;
  display: none;
  left: 50%;
  padding: 15px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2
}

.plyr__control--overlaid svg {
  left: 2px;
  position: relative
}

.plyr__control--overlaid:focus, .plyr__control--overlaid:hover {
  background: #1aafff
}

.plyr--playing .plyr__control--overlaid {
  opacity: 0;
  visibility: hidden
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  display: block
}

.plyr--full-ui ::-webkit-media-controls {
  display: none
}

.plyr__controls {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: center
}

.plyr__controls .plyr__menu, .plyr__controls .plyr__progress, .plyr__controls .plyr__time, .plyr__controls .plyr__volume, .plyr__controls > .plyr__control {
  margin-left: 5px
}

.plyr__controls .plyr__menu + .plyr__control, .plyr__controls .plyr__progress + .plyr__control, .plyr__controls > .plyr__control + .plyr__control, .plyr__controls > .plyr__control + .plyr__menu {
  margin-left: 2px
}

.plyr__controls > .plyr__control:first-child, .plyr__controls > .plyr__control:first-child + [data-plyr=pause] {
  margin-left: 0;
  margin-right: auto
}

.plyr__controls:empty {
  display: none
}

@media (min-width: 480px) {
  .plyr__controls .plyr__menu, .plyr__controls .plyr__progress, .plyr__controls .plyr__time, .plyr__controls .plyr__volume, .plyr__controls > .plyr__control {
    margin-left: 10px
  }
}

.plyr--audio .plyr__controls {
  background: #fff;
  border-radius: inherit;
  color: #4f5b5f;
  padding: 10px
}

.plyr--video .plyr__controls {
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, .7)));
  background: linear-gradient(transparent, rgba(0, 0, 0, .7));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: #fff;
  left: 0;
  padding: 20px 5px 5px;
  position: absolute;
  right: 0;
  -webkit-transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: opacity .4s ease-in-out, -webkit-transform .4s ease-in-out;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out;
  transition: opacity .4s ease-in-out, transform .4s ease-in-out, -webkit-transform .4s ease-in-out;
  z-index: 3
}

@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    padding: 35px 10px 10px
  }
}

.plyr--video.plyr--hide-controls .plyr__controls {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translateY(100%);
  transform: translateY(100%)
}

.plyr [data-plyr=airplay], .plyr [data-plyr=captions], .plyr [data-plyr=fullscreen], .plyr [data-plyr=pip] {
  display: none
}

.plyr--airplay-supported [data-plyr=airplay], .plyr--captions-enabled [data-plyr=captions], .plyr--fullscreen-enabled [data-plyr=fullscreen], .plyr--pip-supported [data-plyr=pip] {
  display: inline-block
}

.plyr__video-embed {
  height: 0;
  padding-bottom: 56.25%;
  position: relative
}

.plyr__video-embed iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%
}

.plyr--full-ui .plyr__video-embed > .plyr__video-embed__container {
  padding-bottom: 240%;
  position: relative;
  -webkit-transform: translateY(-38.28125%);
  transform: translateY(-38.28125%)
}

.plyr__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative
}

.plyr__menu .plyr__control svg {
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease
}

.plyr__menu .plyr__control[aria-expanded=true] svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}

.plyr__menu .plyr__control[aria-expanded=true] .plyr__tooltip {
  display: none
}

.plyr__menu__container {
  -webkit-animation: plyr-popup .2s ease;
  animation: plyr-popup .2s ease;
  background: hsla(0, 0%, 100%, .9);
  border-radius: 4px;
  bottom: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  color: #4f5b5f;
  font-size: 16px;
  margin-bottom: 10px;
  position: absolute;
  right: -3px;
  text-align: left;
  white-space: nowrap;
  z-index: 3
}

.plyr__menu__container > div {
  overflow: hidden;
  -webkit-transition: height .35s cubic-bezier(.4, 0, .2, 1), width .35s cubic-bezier(.4, 0, .2, 1);
  transition: height .35s cubic-bezier(.4, 0, .2, 1), width .35s cubic-bezier(.4, 0, .2, 1)
}

.plyr__menu__container:after {
  border: 4px solid transparent;
  border-top-color: hsla(0, 0%, 100%, .9);
  content: "";
  height: 0;
  position: absolute;
  right: 15px;
  top: 100%;
  width: 0
}

.plyr__menu__container [role=menu] {
  padding: 7px
}

.plyr__menu__container [role=menuitem], .plyr__menu__container [role=menuitemradio] {
  margin-top: 2px
}

.plyr__menu__container [role=menuitem]:first-child, .plyr__menu__container [role=menuitemradio]:first-child {
  margin-top: 0
}

.plyr__menu__container .plyr__control {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4f5b5f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  padding: 4px 11px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%
}

.plyr__menu__container .plyr__control > span {
  -webkit-box-align: inherit;
  -ms-flex-align: inherit;
  align-items: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.plyr__menu__container .plyr__control:after {
  border: 4px solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.plyr__menu__container .plyr__control--forward {
  padding-right: 28px
}

.plyr__menu__container .plyr__control--forward:after {
  border-left-color: rgba(79, 91, 95, .8);
  right: 5px
}

.plyr__menu__container .plyr__control--forward.plyr__tab-focus:after, .plyr__menu__container .plyr__control--forward:hover:after {
  border-left-color: currentColor
}

.plyr__menu__container .plyr__control--back {
  font-weight: 500;
  margin: 7px;
  margin-bottom: 3px;
  padding-left: 28px;
  position: relative;
  width: calc(100% - 14px)
}

.plyr__menu__container .plyr__control--back:after {
  border-right-color: rgba(79, 91, 95, .8);
  left: 7px
}

.plyr__menu__container .plyr__control--back:before {
  background: #b7c5cd;
  -webkit-box-shadow: 0 1px 0 #fff;
  box-shadow: 0 1px 0 #fff;
  content: "";
  height: 1px;
  left: 0;
  margin-top: 4px;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%
}

.plyr__menu__container .plyr__control--back.plyr__tab-focus:after, .plyr__menu__container .plyr__control--back:hover:after {
  border-right-color: currentColor
}

.plyr__menu__container .plyr__control[role=menuitemradio] {
  padding-left: 7px
}

.plyr__menu__container .plyr__control[role=menuitemradio]:after, .plyr__menu__container .plyr__control[role=menuitemradio]:before {
  border-radius: 100%
}

.plyr__menu__container .plyr__control[role=menuitemradio]:before {
  background: rgba(0, 0, 0, .1);
  content: "";
  display: block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 16px;
  margin-right: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 16px
}

.plyr__menu__container .plyr__control[role=menuitemradio]:after {
  background: #fff;
  border: 0;
  height: 6px;
  left: 12px;
  opacity: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: opacity .3s ease, -webkit-transform .3s ease;
  transition: transform .3s ease, opacity .3s ease;
  transition: transform .3s ease, opacity .3s ease, -webkit-transform .3s ease;
  width: 6px
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:before {
  background: #1aafff
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:after {
  opacity: 1;
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1)
}

.plyr__menu__container .plyr__control[role=menuitemradio].plyr__tab-focus:before, .plyr__menu__container .plyr__control[role=menuitemradio]:hover:before {
  background: rgba(0, 0, 0, .1)
}

.plyr__menu__container .plyr__menu__value {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: -5px;
  overflow: hidden;
  padding-left: 25px;
  pointer-events: none
}

.plyr--full-ui input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  border-radius: 26px;
  color: #1aafff;
  display: block;
  height: 19px;
  margin: 0;
  padding: 0;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  width: 100%
}

.plyr--full-ui input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  -webkit-user-select: none;
  user-select: none;
  background-image: -webkit-gradient(linear, left top, right top, from(currentColor), to(transparent));
  background-image: linear-gradient(90deg, currentColor var(--value, 0), transparent var(--value, 0))
}

.plyr--full-ui input[type=range]::-webkit-slider-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  height: 13px;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 13px;
  -webkit-appearance: none;
  margin-top: -4px
}

.plyr--full-ui input[type=range]::-moz-range-track {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  -moz-user-select: none;
  user-select: none
}

.plyr--full-ui input[type=range]::-moz-range-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  height: 13px;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 13px
}

.plyr--full-ui input[type=range]::-moz-range-progress {
  background: currentColor;
  border-radius: 2.5px;
  height: 5px
}

.plyr--full-ui input[type=range]::-ms-track {
  color: transparent
}

.plyr--full-ui input[type=range]::-ms-fill-upper, .plyr--full-ui input[type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  -ms-user-select: none;
  user-select: none
}

.plyr--full-ui input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0;
  border-radius: 2.5px;
  height: 5px;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  -ms-user-select: none;
  user-select: none;
  background: currentColor
}

.plyr--full-ui input[type=range]::-ms-thumb {
  background: #fff;
  border: 0;
  border-radius: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2);
  height: 13px;
  position: relative;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  width: 13px;
  margin-top: 0
}

.plyr--full-ui input[type=range]::-ms-tooltip {
  display: none
}

.plyr--full-ui input[type=range]:focus {
  outline: 0
}

.plyr--full-ui input[type=range]::-moz-focus-outer {
  border: 0
}

.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
  -webkit-box-shadow: 0 0 0 5px rgba(26, 175, 255, .5);
  box-shadow: 0 0 0 5px rgba(26, 175, 255, .5);
  outline: 0
}

.plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track {
  box-shadow: 0 0 0 5px rgba(26, 175, 255, .5);
  outline: 0
}

.plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
  box-shadow: 0 0 0 5px rgba(26, 175, 255, .5);
  outline: 0
}

.plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
  background-color: hsla(0, 0%, 100%, .25)
}

.plyr--full-ui.plyr--video input[type=range]::-moz-range-track {
  background-color: hsla(0, 0%, 100%, .25)
}

.plyr--full-ui.plyr--video input[type=range]::-ms-track {
  background-color: hsla(0, 0%, 100%, .25)
}

.plyr--full-ui.plyr--video input[type=range]:active::-webkit-slider-thumb {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px hsla(0, 0%, 100%, .5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px hsla(0, 0%, 100%, .5)
}

.plyr--full-ui.plyr--video input[type=range]:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px hsla(0, 0%, 100%, .5)
}

.plyr--full-ui.plyr--video input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px hsla(0, 0%, 100%, .5)
}

.plyr--full-ui.plyr--audio input[type=range]::-webkit-slider-runnable-track {
  background-color: rgba(183, 197, 205, .66)
}

.plyr--full-ui.plyr--audio input[type=range]::-moz-range-track {
  background-color: rgba(183, 197, 205, .66)
}

.plyr--full-ui.plyr--audio input[type=range]::-ms-track {
  background-color: rgba(183, 197, 205, .66)
}

.plyr--full-ui.plyr--audio input[type=range]:active::-webkit-slider-thumb {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.plyr--full-ui.plyr--audio input[type=range]:active::-moz-range-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.plyr--full-ui.plyr--audio input[type=range]:active::-ms-thumb {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15), 0 0 0 1px rgba(47, 52, 61, .2), 0 0 0 3px rgba(0, 0, 0, .1)
}

.plyr__poster {
  background-color: #000;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
  width: 100%;
  z-index: 1
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
  opacity: 1
}

.plyr__time {
  font-size: 14px
}

.plyr__time + .plyr__time:before {
  content: "\2044";
  margin-right: 10px
}

@media (max-width: 767px) {
  .plyr__time + .plyr__time {
    display: none
  }
}

.plyr--video .plyr__time {
  text-shadow: 0 1px 1px rgba(0, 0, 0, .15)
}

.plyr__tooltip {
  background: hsla(0, 0%, 100%, .9);
  border-radius: 3px;
  bottom: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  color: #4f5b5f;
  font-size: 14px;
  font-weight: 500;
  left: 50%;
  line-height: 1.3;
  margin-bottom: 10px;
  opacity: 0;
  padding: 5px 7.5px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate(-50%, 10px) scale(.8);
  transform: translate(-50%, 10px) scale(.8);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity .2s ease .1s, -webkit-transform .2s ease .1s;
  transition: opacity .2s ease .1s, -webkit-transform .2s ease .1s;
  transition: transform .2s ease .1s, opacity .2s ease .1s;
  transition: transform .2s ease .1s, opacity .2s ease .1s, -webkit-transform .2s ease .1s;
  white-space: nowrap;
  z-index: 2
}

.plyr__tooltip:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid hsla(0, 0%, 100%, .9);
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  z-index: 2
}

.plyr .plyr__control.plyr__tab-focus .plyr__tooltip, .plyr .plyr__control:hover .plyr__tooltip, .plyr__tooltip--visible {
  opacity: 1;
  -webkit-transform: translate(-50%) scale(1);
  transform: translate(-50%) scale(1)
}

.plyr .plyr__control:hover .plyr__tooltip {
  z-index: 3
}

.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip, .plyr__controls > .plyr__control:first-child .plyr__tooltip {
  left: 0;
  -webkit-transform: translateY(10px) scale(.8);
  transform: translateY(10px) scale(.8);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%
}

.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip:before, .plyr__controls > .plyr__control:first-child .plyr__tooltip:before {
  left: 16px
}

.plyr__controls > .plyr__control:last-child .plyr__tooltip {
  left: auto;
  right: 0;
  -webkit-transform: translateY(10px) scale(.8);
  transform: translateY(10px) scale(.8);
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%
}

.plyr__controls > .plyr__control:last-child .plyr__tooltip:before {
  left: auto;
  right: 16px;
  -webkit-transform: translateX(50%);
  transform: translateX(50%)
}

.plyr__controls > .plyr__control:first-child + .plyr__control.plyr__tab-focus .plyr__tooltip, .plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip--visible, .plyr__controls > .plyr__control:first-child + .plyr__control:hover .plyr__tooltip, .plyr__controls > .plyr__control:first-child.plyr__tab-focus .plyr__tooltip, .plyr__controls > .plyr__control:first-child .plyr__tooltip--visible, .plyr__controls > .plyr__control:first-child:hover .plyr__tooltip, .plyr__controls > .plyr__control:last-child.plyr__tab-focus .plyr__tooltip, .plyr__controls > .plyr__control:last-child .plyr__tooltip--visible, .plyr__controls > .plyr__control:last-child:hover .plyr__tooltip {
  -webkit-transform: translate(0) scale(1);
  transform: translate(0) scale(1)
}

.plyr--video {
  background: #000;
  overflow: hidden
}

.plyr--video.plyr--menu-open {
  overflow: visible
}

.plyr__video-wrapper {
  background: #000;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
  z-index: 0
}

.plyr__progress {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  left: 6.5px;
  margin-right: 13px;
  position: relative
}

.plyr__progress__buffer, .plyr__progress input[type=range] {
  margin-left: -6.5px;
  margin-right: -6.5px;
  width: calc(100% + 13px)
}

.plyr__progress input[type=range] {
  position: relative;
  z-index: 2
}

.plyr__progress .plyr__tooltip {
  font-size: 14px;
  left: 0
}

.plyr__progress__buffer {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  border-radius: 100px;
  height: 5px;
  left: 0;
  margin-top: -2.5px;
  padding: 0;
  position: absolute;
  top: 50%
}

.plyr__progress__buffer::-webkit-progress-bar {
  background: transparent
}

.plyr__progress__buffer::-webkit-progress-value {
  background: currentColor;
  border-radius: 100px;
  min-width: 5px;
  -webkit-transition: width .2s ease;
  transition: width .2s ease
}

.plyr__progress__buffer::-moz-progress-bar {
  background: currentColor;
  border-radius: 100px;
  min-width: 5px;
  -webkit-transition: width .2s ease;
  transition: width .2s ease
}

.plyr__progress__buffer::-ms-fill {
  border-radius: 100px;
  -webkit-transition: width .2s ease;
  transition: width .2s ease
}

.plyr--video .plyr__progress__buffer {
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
  color: hsla(0, 0%, 100%, .25)
}

.plyr--audio .plyr__progress__buffer {
  color: rgba(183, 197, 205, .66)
}

.plyr--loading .plyr__progress__buffer {
  -webkit-animation: plyr-progress 1s linear infinite;
  animation: plyr-progress 1s linear infinite;
  background-image: linear-gradient(-45deg, rgba(47, 52, 61, .6) 25%, transparent 0, transparent 50%, rgba(47, 52, 61, .6) 0, rgba(47, 52, 61, .6) 75%, transparent 0, transparent);
  background-repeat: repeat-x;
  background-size: 25px 25px;
  color: transparent
}

.plyr--video.plyr--loading .plyr__progress__buffer {
  background-color: hsla(0, 0%, 100%, .25)
}

.plyr--audio.plyr--loading .plyr__progress__buffer {
  background-color: rgba(183, 197, 205, .66)
}

.plyr__volume {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative
}

.plyr__volume input[type=range] {
  margin-left: 5px;
  position: relative;
  z-index: 2
}

@media (min-width: 480px) {
  .plyr__volume {
    max-width: 90px
  }
}

@media (min-width: 768px) {
  .plyr__volume {
    max-width: 110px
  }
}

.plyr--is-ios.plyr--vimeo [data-plyr=mute], .plyr--is-ios .plyr__volume {
  display: none !important
}

.plyr:fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%
}

.plyr:fullscreen video {
  height: 100%
}

.plyr:fullscreen .plyr__video-wrapper {
  height: 100%;
  width: 100%
}

.plyr:fullscreen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.plyr:fullscreen .plyr__control .icon--exit-fullscreen {
  display: block
}

.plyr:fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none
}

.plyr:fullscreen.plyr--hide-controls {
  cursor: none
}

@media (min-width: 1024px) {
  .plyr:-webkit-full-screen .plyr__captions {
    font-size: 21px
  }
  .plyr:-ms-fullscreen .plyr__captions {
    font-size: 21px
  }
  .plyr:fullscreen .plyr__captions {
    font-size: 21px
  }
}

.plyr:-webkit-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%
}

.plyr:-webkit-full-screen video {
  height: 100%
}

.plyr:-webkit-full-screen .plyr__video-wrapper {
  height: 100%;
  width: 100%
}

.plyr:-webkit-full-screen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen {
  display: block
}

.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen + svg {
  display: none
}

.plyr:-webkit-full-screen.plyr--hide-controls {
  cursor: none
}

@media (min-width: 1024px) {
  .plyr:-webkit-full-screen .plyr__captions {
    font-size: 21px
  }
}

.plyr:-moz-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%
}

.plyr:-moz-full-screen video {
  height: 100%
}

.plyr:-moz-full-screen .plyr__video-wrapper {
  height: 100%;
  width: 100%
}

.plyr:-moz-full-screen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen {
  display: block
}

.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen + svg {
  display: none
}

.plyr:-moz-full-screen.plyr--hide-controls {
  cursor: none
}

@media (min-width: 1024px) {
  .plyr:-moz-full-screen .plyr__captions {
    font-size: 21px
  }
}

.plyr:-ms-fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%
}

.plyr:-ms-fullscreen video {
  height: 100%
}

.plyr:-ms-fullscreen .plyr__video-wrapper {
  height: 100%;
  width: 100%
}

.plyr:-ms-fullscreen.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  transform: translateY(-50%)
}

.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen {
  display: block
}

.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none
}

.plyr:-ms-fullscreen.plyr--hide-controls {
  cursor: none
}

@media (min-width: 1024px) {
  .plyr:-ms-fullscreen .plyr__captions {
    font-size: 21px
  }
}

.plyr--fullscreen-fallback {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000
}

.plyr--fullscreen-fallback video {
  height: 100%
}

.plyr--fullscreen-fallback .plyr__video-wrapper {
  height: 100%;
  width: 100%
}

.plyr--fullscreen-fallback.plyr--vimeo .plyr__video-wrapper {
  height: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen {
  display: block
}

.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen + svg {
  display: none
}

.plyr--fullscreen-fallback.plyr--hide-controls {
  cursor: none
}

@media (min-width: 1024px) {
  .plyr--fullscreen-fallback .plyr__captions {
    font-size: 21px
  }
}

.plyr__ads {
  border-radius: inherit;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1
}

.plyr__ads > div, .plyr__ads > div iframe {
  height: 100%;
  position: absolute;
  width: 100%
}

.plyr__ads:after {
  background: rgba(47, 52, 61, .8);
  border-radius: 2px;
  bottom: 10px;
  color: #fff;
  content: attr(data-badge-text);
  font-size: 11px;
  padding: 2px 6px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  z-index: 3
}

.plyr__ads:after:empty {
  display: none
}

.plyr__cues {
  background: currentColor;
  display: block;
  height: 5px;
  left: 0;
  margin: -2.5px 0 0;
  opacity: .8;
  position: absolute;
  top: 50%;
  width: 3px;
  z-index: 3
}

.plyr__preview-thumb {
  background-color: hsla(0, 0%, 100%, .9);
  border-radius: 3px;
  bottom: 100%;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  margin-bottom: 10px;
  opacity: 0;
  padding: 3px;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translateY(10px) scale(.8);
  transform: translateY(10px) scale(.8);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition: opacity .2s ease .1s, -webkit-transform .2s ease .1s;
  transition: opacity .2s ease .1s, -webkit-transform .2s ease .1s;
  transition: transform .2s ease .1s, opacity .2s ease .1s;
  transition: transform .2s ease .1s, opacity .2s ease .1s, -webkit-transform .2s ease .1s;
  z-index: 2
}

.plyr__preview-thumb--is-shown {
  opacity: 1;
  -webkit-transform: translate(0) scale(1);
  transform: translate(0) scale(1)
}

.plyr__preview-thumb:before {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid hsla(0, 0%, 100%, .9);
  bottom: -4px;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 0;
  z-index: 2
}

.plyr__preview-thumb__image-container {
  background: #b7c5cd;
  border-radius: 2px;
  overflow: hidden;
  position: relative;
  z-index: 0
}

.plyr__preview-thumb__image-container img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%
}

.plyr__preview-thumb__time-container {
  bottom: 6px;
  left: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 3
}

.plyr__preview-thumb__time-container span {
  background-color: rgba(0, 0, 0, .55);
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  padding: 3px 6px
}

.plyr__preview-scrubbing {
  bottom: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  width: 100%;
  z-index: 1
}

.plyr__preview-scrubbing--is-shown {
  opacity: 1
}

.plyr__preview-scrubbing img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%
}

.plyr--no-transition {
  -webkit-transition: none !important;
  transition: none !important
}

.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: 0 !important;
  height: 1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important
}

.plyr [hidden] {
  display: none !important
}

.fm {
  position: relative;
  height: 100%;
  padding: 1rem 1rem 0;
  background-color: #fff
}

.fm:-webkit-full-screen {
  background-color: #fff
}

.fm:-ms-fullscreen {
  background-color: #fff
}

.fm:fullscreen {
  background-color: #fff
}

.fm .fm-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: -15px;
  margin-left: -15px;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
  //border-top: 1px solid #6d757d;
  //border-bottom: 1px solid #6d757d
}

.fm .unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.fm-error {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545
}

.fm-danger {
  color: #dc3545;
  background-color: #fff;
  border-color: #dc3545
}

.fm-warning {
  color: #ffc107;
  background-color: #fff;
  border-color: #ffc107
}

.fm-success {
  color: #28a745;
  border-color: #28a745
}

.fm-info, .fm-success {
  background-color: #fff
}

.fm-info {
  color: #17a2b8;
  border-color: #17a2b8
}

.fm.fm-full-screen {
  width: 100%;
  height: 100%;
  padding-bottom: 0
}
