#app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #e9e9e9;
}

.content {
  padding: 20px;
}

.sidebar {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: white;
}

.no_left_padding {
  padding-left: 0 !important;
}

.no_right_padding {
  padding-right: 0 !important;
}

.no_padding_bottom {
  padding-bottom: 0 !important;
}

.no_padding_top {
  padding-top: 0 !important;
}

.centered {
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.notification_icon {
  margin-top: 12px;
}

.router-link-active {
  background-color: #e9e8e9;
}

.custom_border_top {
  border-top: solid 1px #c4c3c333;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 14px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  color: black;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.create_btn {
  position: absolute;
  top: 48px;
  right: 45px;
  background: #f9f9f9;
}

.employee_item {
  margin-top: 25px;
}

.user_info_ul {
  margin-top: 0 !important;
}

.user_info_ul > li {
  list-style-type: none;
  margin-top: -0.25em !important;
}

.actions {
  position: absolute;
  right: 17px;
  top: 3px;
}

.custom_dropdown > .dropdown-menu {
  right: 0;
  left: auto;
  border: none;
}

.employee_info > li {
  list-style-type: none;
}

.employee_info > .header {
  font-size: 16px;
  color: #979797;
}

.employee_info > .value {
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.img-circle {
  border-radius: 50%;
}

.img-circle {
  border-radius: 0;
}

.ratio {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.no_margin {
  margin: 0 !important;
}

.navbar_image {
  width: 1.75rem !important;
  height: 1.75rem !important;
  margin-top: 5px;
}

.client_list {
  margin: 0 !important;
}

.client_list > li {
  list-style-type: none;
  display: inline-flex;
  margin-left: 25px;
}

.client_detail_list > li {
  list-style-type: none;
  display: inline-flex;
  margin-right: 25px;
}

.client_list .name {
  font-weight: bold;
}

.client_list .phone, .mail, .client_detail_list .contacts, .deals {
  color: gray;
}

a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active {
  color: black !important;
  text-decoration: none;
}

.contact_list > li {
  list-style-type: none;
  display: block;
}

.contact_list .name {
  font-weight: bold;
  font-size: 18px;
}

.contact_list .position {
  color: gray;
  font-size: 13px;
}

.data_list > li {
  list-style-type: none;
  display: block;
}

.data_list .field {
  font-size: 13px;
  color: gray;
}

.data_list .value {
  font-size: 16px;
  color: black;
  font-weight: bold;
}

.client_contact_info {
  margin-top: 25px;
}

.create_contact_btn {
  top: 30px;
}

.content ul {
  margin: 0 !important;
}

.content li + li {
  margin-top: 0 !important;
}

.content ul {
  list-style-type: none !important;
}

.employee_image {
  width: 50px !important;
  height: 50px !important;
  object-fit: cover;
}

.employee_card_image {
  width: 100px !important;
  height: 100px !important;
  object-fit: cover;
}

.profile_img {
  width: 160px;
  margin-bottom: 10px;
}

.autocomplete .dropdown-menu {
  padding: 0 !important;
}

.unactive{
  background-color: rgba(255, 119, 67, 0.35) !important;
}