<template>
    <div class="modal fade" id="updateFolderModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" @click="closeModal">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Название</label>
                                <input type="text" id="name" required v-model="folder.name" class="form-control">
                                <strong class="text-danger">{{ errors.first('name') }}</strong>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="parent_id">Родительская папка</label>
                                <select name="parent_id" class="form-control" v-model="folder.parent_id" id="parent_id">
                                    <option :value="null">
                                        Корневая папка
                                    </option>
                                    <option v-for="folder in foldersList" :key="folder.id" :value="folder.id">
                                        {{folder.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-success btn-block" @click="updateFolder">Сохранить
                                        </button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-danger btn-block" @click="closeModal">Отменить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {FolderService} from "../../../../services/FolderService";
    import {ErrorsHandler} from "../../../../../services/error/ErrorsHandler";

    export default {
        name: "UpdateFolderComponent",
        props: {
            folder: {
                name: '',
                parent_id: 0
            },
            foldersList: {}
        },
        data() {
            return {
                folderService: null,
                errorsHandler: null
            }
        },
        created() {

            this.errorsHandler = new ErrorsHandler();
            this.folderService = new FolderService();
        },
        methods: {
            /**
             * Close modal
             */
            closeModal() {
                $('#updateFolderModal').modal('toggle');
            },
            /**
             * Update folder
             */
            updateFolder() {
                this.folderService.updateFolder(this.folder.id, this.folder).then((response) => {
                    for (let i = 0; i < this.foldersList.length; i++) {
                        if (this.foldersList[i].id === response.data.data.id) {
                            this.foldersList[i] = response.data.data;
                        }
                    }
                    this.$emit('folder-updated');
                    this.closeModal();
                }).catch((error) => {
                    this.errorsHandler.handleErrors(error.response.data, this.errors);
                });
            }
        }
    }
</script>

<style scoped>

</style>