<template>
    <div class="card card-body">
        <h1 class="text-center">Access Denied</h1>
    </div>
</template>

<script>
    export default {
        name: "403Component"
    }
</script>

<style scoped>

</style>
