<template>
    <div class="auth-form text-center">
        <form method="POST" v-on:submit.prevent="login" class="card">
            <b-loading style="z-index:9999" :is-full-page="false" :active.sync="isLoading" :can-cancel="false"></b-loading>
            <h3 class="text-center">PICTUS</h3>

            <p class="text-danger" v-if="authErrors.has('invalid_credentials')"
               v-text="authErrors.get('invalid_credentials')"></p>

            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" class="form-control" placeholder="Email" required autofocus
                   v-model="email">

            <label for="password" class="sr-only">Пароль</label>
            <input type="password" id="password" class="form-control" placeholder="Пароль" required
                   v-model="password">

            <span class="text-danger">{{errorMessage}}</span>

            <button class="btn btn-lg btn-primary btn-block mt-2 mb-2" type="submit">Войти</button>
        </form>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                isLoading: false,
                email: '',
                password: '',
                remember: true,
                errorMessage: ''
            }
        },
        computed: {
            authErrors() {
                return this.$store.getters.authErrors;
            }
        },
        methods: {
            login: function () {
                this.isLoading = true;
                const {email, password, remember} = this;
                this.$store.dispatch('authRequest', {email, password, remember})
                    .then(() => {
                        this.$router.push('/dashboard')
                    }).catch((error) => {
                    this.isLoading = false;
                    if (error.response.status === 401) {
                        this.errorMessage = 'Неверный логин и/или пароль.';
                    } else {
                        this.errorMessage = error.response.data.message;
                    }
                });
            }
        }
    }
</script>
