<template>
    <div class="modal fade" id="fileManagerModal" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <file-manager></file-manager>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import FileManager from './parts/MainComponent';

    export default {
        name: "ManagerModalComponent",
        components: {
            'file-manager': FileManager
        }
    }
</script>

<style scoped>
    .modal-dialog {
        max-width: 1520px;
    }
</style>
