<template>
    <button class="btn btn-default btn-block" data-toggle="modal" data-target="#fileManagerModal">Файловый менеджер</button>
</template>

<script>
    export default {
        name: "ManagerBtnComponent"
    }
</script>

<style scoped>

</style>
